/* resultspage */

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

#map {
    height: 900px;
    width: 100%;
    margin-top: 8px;
}

.git-link:hover {
    color: #2e7d32;
}

.weather-card {
  border: none;
}

/* mainpage  */

.nav-wrapper{
  background-color: rgb(82, 101, 77);
}

.container {
  position: relative;
}

.btn-large {
  margin: 0;
  border-radius: 30px;
  width: 200px;
}

.buttons-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(0px, -300px);
}

#modal-head {
  margin-left: 10px;
}

.modal-button {
margin-left: 10px;
}

.page-footer {
 background-color: rgb(82, 101, 77);
}
