/* Homepage */
.nav-wrapper{
  background-color: rgb(82, 101, 77);
}

#hero-button {
  font-size: 1vw;
}

.container {
  position: relative;
}

.btn-large {
  margin: 0;
  border-radius: 30px;
  width: 200px;
}

.buttons-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(0px, -300px);
}

.modal-size {
  height: 500px;
}

#modal-head {
  margin-left: 10px;
}

.datepicker-modal {
  width: 400px;
}

.picker_date-display {
  margin: 60px;
  width: 100px;
  background-color: #4e342e;
}

.sage-text {
  color: rgb(82, 101, 77);
}

.submit-btn {
  background-color: #4e342e;
}

.submit-btn:hover {
  background-color: #6e4a41;
}

.modal-button {
margin-left: 10px;
}

.aboutImg {
  margin-bottom: 40px;
  margin-right: 20px;
}

.page-footer {
 background-color: rgb(82, 101, 77);
}


/* Results Page */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

#map {
    height: 900px;
    width: 100%;
    margin-top: 8px;
}

.git-link:hover {
    color: #2e7d32;
}

.weather-card {
  border: none;
}

.previous-searches {
  background-color: rgb(142, 173, 133);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  width: 100%;
}

.previous-searches:hover {
  background-color: rgb(82, 101, 77);
  cursor: pointer;
  transition: 0.3s;
}

#clear-button {
  color: rgb(201, 201, 201);
}

#clear-button:hover {
  color: black;
  transition: 0.3s;
  cursor: pointer;
}